*{
    font-family: 'Share Tech', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#000000, #434343);
}

header{
    height: 200px;
    padding: 20px 0;
}

.header-box{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.header-logo{
    width: 50%;
}

.header-logo img{
    width: 30%;
}

.header-menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.header-menu a{
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.options-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.options-box h2, .aviso-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    letter-spacing: 4px;
}

.options-box form{
    text-align: center;
}

.options-box form a { 
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fcff9d;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s;
    letter-spacing: 4px;
}

.options-box a:hover {
    background: #004e77;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #004e77,
                0 0 25px #004e77,
                0 0 50px #004e77,
                0 0 100px #004e77;
}

.options-box a span {
    position: absolute;
    display: block;
}

.options-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #004e77);
    animation: btn-anim1 2s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.options-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #004e77);
    animation: btn-anim2 2s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.options-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #004e77);
    animation: btn-anim3 2s linear infinite;
    animation-delay: 1s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.options-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #004e77);
    animation: btn-anim4 2s linear infinite;
    animation-delay: 1.5s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}

footer{
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: white;
}